/*
https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/
*/
body{
	font-family:TimesNewRoman, Helvetica, Geneva, sans-serif;
	
}

.gfg { 
        border-collapse:separate; 
        border-spacing:0 15px; 
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
h3{
	text-align:center;
}
a{
	margin-top:40px;
}
div{
	margin-top:40px;
	align-content:center;
}
input[type=submit] {
    width: 20em;  height: 5em;
}

.container {
  display: flex;
  align-items: center;
}
.container [type="text"] {
  flex-grow: 1;
  margin: 0 .5em;
}
/*
input[type="text"] {
  border: none;
  background: transparent;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #333;
  padding: .5em.75em;
}*/

input[type="text"], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.col-75 {
  float: center;
  width: 200px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.gfh {
	margin-top:20px;
}

a.button input.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;    
    text-decoration: none;
    color: #555;
    border:1px solid #ccc;
    height: 5em;
    text-align: center;
}
td {
  word-break: break-all;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}


#Progress_Status { 
  width: 100%; 
  background-color:lightblue; 
  align-items: center;
 
} 
  
#myprogressBar { 
  width: 2%; 
  height: 30px; 
  background-color: #096;
  
  margin-left: 0%;
  align: center; 
}

#Progress_Status2 { 
  width: 100%; 
   
  align: center;
 
} 
  
#myprogressBar2 { 
  width: 2%; 
  height: 30px; 
  background-color: #096;
  margin-left: 0%;
  align: center; 
}  